<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <title>Чат</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
</head>
<body>
<br><a href="/rooms" class="btn btn-secondary btn-sm">Назад на главную</a>

<div class="container mt-5">
    <h2>{{room_name}}</h2>
    <p>Создатель: {{admin}} </p>
    <p> {{type}} </p>

    <br>
    <h3> Сообщения </h3>
    <div id="content">
    </div>

<!--     отправляем сообщения-->
    <form id="message_form">
        <input type="text" id="message_field" name="text" placeholder="Введите сообщение" class="form-control">
        <h2> </h2>
        <button type="submit" class="btn btn-secondary">Отправить</button>
    </form>
</div>
<div class="container mt-5">

    <h3>Пользователи:</h3>
    {{#users}}
        {{username}}<br>
    {{/users}}
    {{#is_admin}}
        <br>
        <br><h2>Редактирование</h2>
        <form action="/{{roomId}}/add_user" method="post">
            <input type="text" name="username" placeholder="введите имя пользователя" class="form-control">
            <h2> </h2>
            <button type="submit" class="btn btn-secondary">Добавить</button>
        </form>

        <!--    меняем имя комнаты-->
        <br>
        <form action="/{{roomId}}/updateNameRoom" method="post">
            <input type="text" name="title" placeholder="введите новое название комнаты" class="form-control">
            <h2> </h2>
            <button type="submit" class="btn btn-secondary">Изменить</button>
        </form>
        <br>

        <!--    меняем тип комнаты-->
        <form action="/{{roomId}}/updateType" method="post">
            <button type="submit" class="btn btn-secondary">Сделать: {{switched_type}}</button>
        </form><br>
        <br>
    {{/is_admin}}
    <br>
    <br>
</div>
</body>

<script type="text/javascript">
    // у нас есть форма в которой мы работает
    const form = $("#message_form");
    function doRefresh() {
        $.ajax({
            //Строка, содержащая URL адрес, на который отправляется запрос.
            url: "/api/{{roomId}}/all-messages",
            // Ожидаемый тип данных
            //Обратите внимание, что значение параметра,
            // указанного в dataType (тип данных, которые мы ожидаем от сервера) сопоставляется с указанным в параметре.
            dataType: "text",
            // в случае успешного выполнения запроса
            // если запрос успешен вызываем функцию
            success: function (data) {
                // получаем все данные, но не можем к ним обратится поэтому
                // Используем JavaScript функцию JSON.parse(), чтобы преобразовать этот текст в объект JavaScript:
                const json = $.parseJSON(data);
                // {messages: Array(2)}messages: Array(2)0: {id: 109, stringDate: '2021-11-12 04:48:39', username: 'user1', message: 'hello'}
                // {"messages":[{"id":109,"stringDate":"2021-11-12 04:48:39","username":"user1","message":"hello"},
                // {"id":110,"stringDate":"2021-11-12 04:48:49","username":"user1","message":"lol"},
                // {"id":111,"stringDate":"2021-11-12 05:11:04","username":"user1","message":"bbbb"}]}
                console.log(data);
                // передаем в наш html шаблон
                // заменем наш content на .html('Новый HTML контент...')
                $("#content").html(
                        //Метод map() создаёт новый массив
                        // с результатом вызова указанной функции для каждого элемента массива.
                        // .join("\n") - преобразуем в к типу String через \n
                        json["messages"].map(function (msg) {
                            return "<br><b>" + msg["stringDate"] + "<br>" + msg["username"] + ":</b> " + msg["message"] + "</br>";
                        }).join("\n")
                );
            }
        });
    }
    //  обработчик событий submit
    form.submit(function (evt) {
        $.ajax({
            //Строка, содержащая URL адрес, на который отправляется запрос.
            url: "/{{roomId}}/send_message",
            // метод HTTP, используемый для запроса
            method: 'POST',
            // Данные, которые будут переданы на сервер.
            // .val() - достаём значение из элемента $("#message_field")
            // Преобразует объект или массив в сериализованную строку для использования в URL при Ajax запросах.
            data: jQuery.param({text: $("#message_field").val()}),
            success: () => {
                // Очищаем поля формы
                form[0].reset();
                // автообновляем данные
                doRefresh();
            }
        });
        // Один из методов как раз позволяет отменить действие браузера по умолчанию — preventDefault()
        // Отменяем переход по ссылке
        evt.preventDefault();
    });
    doRefresh();
    $(function () {
        // setInterval позволяет вызывать функцию регулярно, повторяя вызов через определённый интервал времени.
        // запуск функции каждые 1c
        setInterval(doRefresh, 1000);
    });
</script>

</html>